<h1>Industrial</h1>

<h2>What we do</h2>

<%= image_tag("https://evolllution.com/wp-content/uploads/2015/01/sized-Four-Evolving-Trends-that-May-Shape-the-Future-of-Distance-Education-copy1.jpeg", :alt => "rss feed", :height =>"300", :width => "420", :align=> "center", :class=> "category") %>

<%= image_tag("http://www.urukia.com/wp-content/uploads/2011/03/Home-of-the-Future-LAVA-03.jpg", :alt => "rss feed", :height =>"300", :width => "420", :align=> "center", :class=> "category2") %>

<%= image_tag("http://futurehumanevolution.com/wp-content/uploads/space-colony-future-human-evolution.jpg", :alt => "rss feed", :height =>"300", :width => "420", :align=> "center", :class=> "category3") %>




<iframe width="880" height="750" align="center" src="//www.youtube.com/embed/voNBzuI7IJ4?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>

<%= link_to 'contact us', contact_link_path, class: 'waves-effect waves-light btn right' %>
