<h1>Philosophy</h1>
<li stlye=padding-top: 50px></li>
<h3>Our philosophy is to invent products that no one believed possible at out price through innovative design and engineering.</h3>
<li style=padding-top: 30px></li>
<%= link_to 'Back', root_path, class: 'waves-effect waves-light btn center' %>
