<h1 style="center">WHO</h1>
<li style="margin-top: 50px;"></li>
<h5 style="center">Chief Product Engineer</h5>
<p style="margin-top: 30px; text-align: left;">Biorobotics is a term that loosely covers the fields of cybernetics, bionics and even genetic engineering as a collective study. Biorobotics is often used to refer to a real subfield of robotics: studying how to make robots that emulate or simulate living biological organisms mechanically or even chemically.</p>

<h5 style="margin-top: 30px;">Chief Executive Officer</h5>
<p style="margin-top: 30px; text-align: left;">Biorobotics is a term that loosely covers the fields of cybernetics, bionics and even genetic engineering as a collective study. Biorobotics is often used to refer to a real subfield of robotics: studying how to make robots that emulate or simulate living biological organisms mechanically or even chemically.</p>
