
<% if signed_in? %>
  <!-- <div class="row">
    <div class="col s12 padding-top">
      <div class="col s12 m6 center"> -->
<script>
   $(document).ready(function () {
       $('.slider').slider({full_width: true});
   });
</script>

<!-- <h1>SUMMA ROBOTICS</h1> -->
<div class="slider">
    <ul class="slides pagination">
    <li>
      <img src="http://www.livescience.com/images/i/000/088/140/original/artificial-intelligence.jpeg?interpolation=lanczos-none&fit=around%7C300:200&crop=300:200;*,*">
      <div class="caption center-align">
        <h3>Genius Inovation</h3>
        <h3>Benevolence Humility</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="http://www.planwallpaper.com/static/images/0ae09e0e32ee9e71552e3a9872f96335.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="https://s-media-cache-ak0.pinimg.com/originals/3a/77/4d/3a774dbd0087a45352dd5fb1aa0c4806.jpg"> <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="http://futurelab.assaabloy.com/en/wp-content/uploads/sites/2/2010/12/future-20trend-20blue_shutterstock_7968100-20--20524x291.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <div class="col s8 m2 btn-price left">
      <p class="lead center-align onclick="http://r.ddmcdn.com/w_830/s_f/o_1/cx_98/cy_0/cw_640/ch_360/APL/uploads/2015/07/cecil-AP463227356214-1000x400.jpg">See our CNC Machines</p>
    </div>
    <div class="col s8 m2 btn-price right">
      <p class="lead center-align onclick="http://r.ddmcdn.com/w_830/s_f/o_1/cx_98/cy_0/cw_640/ch_360/APL/uploads/2015/07/cecil-AP463227356214-1000x400.jpg">See our Robots</p>
    </div>
  </ul>
</div>

<div class='row center'>
  <a class="waves-effect waves-light btn left" href= "">See our CNC Machines</a>
  <%= link_to 'Meet Our Robots', new_post_path, class: 'waves-effect waves-light btn right' %>

</div>
      <!-- <div class="col s12 m6 pull-left">
        <%= image_tag "cool.jpeg", class: 'responsive-img rounded-border' %>
      </div>
      <div class="col s12">
        <h5>View The Pets You Can Borrow</h5>
        <% end %>
      </div>
    </div>

  <% else %>
  <div class="row space">
    <div class="col s12 m5 offset-m7">
      <p class="black-text flow-text center">You need their <strong>company</strong>. On vacation, too selfish to own a pet
                                                                    but want their love, or sad and lonely. Borrow
                                                                    a pet for an hour or a day.</p>
    </div> -->


  </div>
