<h1 class="center">Our feature Robots</h1>
<li style="padding-bottom: 100px"></li>


<!-- <div class="row">
   <div style= color: red; class="col s12, card-panel teal lighten-2">feature 1</div>
   <div class="col s12 , card-panel teal lighten-4">feature 1</div>
   <div class="col s12, card-panel teal lighten-2">feature 1</div>
   <div class="col s12, card-panel teal lighten-2">feature 1</div>
   <div class="col s12, card-panel teal lighten-2">feature 1</div>
   <div class="col s12, card-panel teal lighten-2">feature 1</div>
   <div class="col s12, card-panel teal lighten-2">feature 1</div>
   <div class="col s12, card-panel teal lighten-2">feature 1</div>
 </div> -->
<script>
 $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>


<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body">
        <div class='row center'>
          <div class='col s12 m6'>
            <%= image_tag("olivia.jpeg", :alt => "rss feed", :height =>"500", :width => "840", :align=> "left", ) %>

            <p style="padding-top: 200px">
              A robot is a machine designed to execute one or more tasks automatically with speed and precision. ... Industrial robots, for example, are often designed to perform repetitive tasks that aren't facilitated by a human-like construction. A robot can be remotely controlled by a human operator, sometimes from a great distance.
            </p>
          </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header underline"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body underline">
        <p style="padding-top: 100px">
          A robot is a machine designed to execute one or more tasks automatically with speed and precision. ... Industrial robots, for example, are often designed to perform repetitive tasks that aren't facilitated by a human-like construction. A robot can be remotely controlled by a human operator, sometimes from a great distance.
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>fourth</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>fifth</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>sixth</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>


<li style="padding-top: 100px"></li>
  <button class="wrapper btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>


  <video width="320" height="240" controls>
  <source src="yes.mp4" type="images/mp4">
</video>
