<h1>Meet Olivia</h1>

<img class="materialboxed" width="450" src="https://gigaom.com/wp-content/uploads/sites/1/2012/09/robot-2.jpg">

<%= link_to 'Post', posts_path, class: 'btn-small #eeeeee grey lighten-3' %>
<%= link_to 'Home', root_path, class: 'btn-small #eeeeee grey lighten-3' %>
