<h1>Meet Olivia</h1>

<img class="materialboxed" width="450" src="https://gigaom.com/wp-content/uploads/sites/1/2012/09/robot-2.jpg">


<!-- <script>
$ video.embed_html_with_width(1280)
$ video = client.video_by("https://www.youtube.com/emb?v=QsbmrCtiEUU&feature=player_embedded")
<script> -->

<!-- <script type="text/javascript" src="http://www.youtube.com/iframe_api"></script>
<iframe id="myytplayer" type="text/html" width="440" height="300"
src="http://www.youtube.com/embed/{YOUTUBE_ID}?enablejsapi=1"
frameborder="0"></iframe> -->

<iframe width="1280" height="750" src="//www.youtube.com/embed/voNBzuI7IJ4?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe> -->


<%= link_to 'Post', posts_path, class: 'btn-small #eeeeee grey lighten-3' %>
<%= link_to 'Home', root_path, class: 'btn-small #eeeeee grey lighten-3' %>
