<h1>Our CNC Manines</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<script>
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>


<div class="parallax-container box-sizing: inherit; width: 100%;">
    <div class="parallax box-sizing: inherit; width: 100%;"><img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Hopetoun_falls.jpg" style= "width: 1500px";></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://static.pexels.com/photos/20974/pexels-photo.jpg"></div>
  </div>






<%= link_to 'Home', root_path, class: 'btn-small #eeeeee grey lighten-3' %>
