@import 'materialize';


h1 {
  color: green;
}


nav {
  background-color: black;
  color: green;
}

body {
  background-color: black;
  height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
}

.content {
    min-height: calc(100vh - 120px);
  }

// footer {
//   position: absolute;
//     bottom: -40px;
//     width: 100%;
//   // color: black;
//   // height: 60px;
// }

.colasible-btn {
	border-radius: 8px;
	background-color:#B2B0AA;
	border: 2px solid #666666;
	color:525252;
	padding: 5px;
}
.colasible-btn:hover {
	background-color:#555555;
	color:white;
}
.btn {
  color: red;
  background-color: grey;
}
// nav .brand-logo,
// nav ul a {
//   color: #000;
// }
// .thin-row {
//   height: 300px;
// }
// .bg-img {
//   background: url('cool.jpeg') no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
// .clear-opacity {
//   background: rgba(255, 255, 255, 0.65);
// }
// .rounded-border {
//   border-radius: 10px;
//   margin-top: 20px;
// }
// .btn-price {
//   color: blue;
//   border: 1px solid black;
//   border-radius: 5px;
//   display: inline-block;
// }
// footer.page-footer {
//   color: #212121;
//   margin-top: 20px;
//   padding-top: 20px;
//   background-color: #f5f5f5 ;
// }
// footer.page-footer a{
//   color: #000;
// }
// .space {
//   min-height: 400px;
// }
// .sign-up-in label {
//   color: #212121;
// }
// .padding-top {
//   padding-top: 20px;
// }
// .card {
// 	height: 400px;
// }
//
// background {
//   color: black;
// }
